<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="/static/styles/budget.css">
</head>
<body>
  <div class="mealplan-chart-container box">
    <h2 class="binghamton-black">{{chart_title}}</h2>
    <p class="how-to">How It Works:</p>
    <p class="info">
      This weekly balance chart was created by the Binghamton Dining Services to help students remain on budget throughout the semester. 
      To remain on budget, choose the column letter that best represents the total dining dollars
      you started the semester with. Then, based on the current date and the weekly dates of the chart, find the week you are currently in.
      This will give a rough estimate of how on budget you are.
    </p>
    <img src="/static/imgs/{{current_semester}}_Mealplan_Budget_Chart.png" alt="No Budget Chart Currently Available"> 
  </div>  
</body>
</html>