<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Google tag (gtag.js) -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=G-RJ391QTGHG"></script>
	<script>
  	window.dataLayer = window.dataLayer || [];
  	function gtag(){dataLayer.push(arguments);}
  	gtag('js', new Date());
  	gtag('config', 'G-RJ391QTGHG');
	</script>
	<!-- Google tag (gtag.js) -->
  <link rel="stylesheet" href="/static/styles/food.css">
</head>
<body>
  <div style="background-color: white;">
    <p>Currently in development. When finished it will show the food that is currently being served at each dining hall</p>
  </div>
</body>
</html>