<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Google tag (gtag.js) -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=G-RJ391QTGHG"></script>
	<script>
  	window.dataLayer = window.dataLayer || [];
 	 	function gtag(){dataLayer.push(arguments);}
  	gtag('js', new Date());
  	gtag('config', 'G-RJ391QTGHG');
	</script>
	<!-- Google tag (gtag.js) -->
  <link rel="stylesheet" href="/static/styles/food.css">
	<title>Binghamton Dining Hall Information</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="Easily view your Binghamton Unversity Mealplan balance, mealplan transactions, daily budget, and daily spending habits.">
	<meta name="keywords" content="binghamton, binghamton university, binghamton meaplan, binghamton dining services, mealplan, BUDS, binghamton meaplan information, 
		binghamton mealplan account, mealplan account">
	<meta name="author" content="BingACM Projects Division Group">
	<meta property="og:title" content="Binghamton Mealplan Helper">
  <meta property="og:description" content="Easily view your Binghamton Unversity Mealplan balance, mealplan transactions, daily budget, and daily spending habits.">
  <meta property="og:image" content="/static/imgs/Preview_Photo.jpg">
  <meta property="og:url" content="https://bingmealplanhelper.pythonanywhere.com">
	<meta property="og:type" content="website">
</head>
<body>
  <div style="background-color: white;">
    <p>Currently in development. When finished it will show the food that is currently being served at each dining hall</p>
  </div>
</body>
</html>