<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
	<title>Meal Plan Tracker</title>
	<script>
		function showDiv() {
   			document.getElementById('welcomeDiv').style.display = "block";
		}
	</script>
	<style>
		.loader{
			margin: auto;
			padding: 10px;
			}
	</style>
</head>
<body class="has-text-centered">
	<h2 class="title is-2 center m-3">Binghamton Meal Plan Calculator</h2><br>
	<div class="columns is-mobile is-centered">
		<form method="post" action="/logged_in" class=".text-center">
			<input class="input center" type="text" placeholder="username" id="username" name="username"><br><br>
			<input class="input center" type="password" placeholder="password" id="password" name="password"><br><br>
			<input class="button is-success" type="submit" value="Login" onclick="showDiv()">
		</form>	
	</div>
	<div class="columns is-centered mt-3">
		<strong><p class="has-text-danger">{{message}}</p></strong>
	</div>
	<div class="loader" id="welcomeDiv"  style="display:none;"></div>
	<footer>Version 1.0</footer>
</body>
</html>