<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
	<link rel="stylesheet" href="/static/styles/index.css">
	<title>Meal Plan Tracker</title>
	<script>
		function showDiv() {
   			document.getElementById('welcomeDiv').style.display = "block";
		}
	</script>
</head>
<body class="has-text-centered">
	<div class="columns is-mobile is-centered" >
		<div class="box is-one-third is-mobile m-6">
			<h2 class="title is-3 m-1 is-dark is-mobile">Binghamton Meal Plan Tracker</h2>
				{% with messages = get_flashed_messages() %}
				{% if messages %}
					<ul class="flashes">
						{% for message in messages %}
							<li><strong style="color: #f14668!important;">{{ message }}</strong></li>
						{% endfor %}
					</ul>
				{% endif %}
			{% endwith %}
			<img src="https://static.wixstatic.com/media/7383ad_635e426608944acd83c1538cca35af9c~mv2_d_1500_1500_s_2.png/v1/fill/w_1500,h_1500,al_c/Binghamton.png" alt="broke" class="image center">
			<form method="post" action="{{url_for('login')}}" class="">
				<input class="input" type="text" placeholder="BUDS Username" id="username" name="username">
				<input class="input" type="password" placeholder="BUDS Password" id="password" name="password">
				<div class="is-centered">
					<strong><p class="has-text-danger">{{message}}</p></strong>
				</div>
				<div class="loader" id="welcomeDiv"  style="display:none;"></div>
				<input class="button is-success m-2"  type="submit" value="Login" onclick="showDiv()">
				<p class="m-2" id="create_account">Don't have a BUDS Account? Click <a href="https://bing.campuscardcenter.com/ch/register/register_Id.html" target="_blank">Here</a></p>
				<p class="account-note"><strong style="color: #f14668!important;">NOTE:</strong> BUDS Account is seperate from BU Account</p>
				<p class="m-2" class="version">Version 1.0</p>
			</form>	
		</div>
	</div>
</body>
</html>