<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
	<link rel="stylesheet" href="/static/styles/loggedIn.css">
	<link rel="shortcut icon" href="{{url_for('static', filename='favicon.ico')}}">
	<script src="https://kit.fontawesome.com/d27b7bf830.js" crossorigin="anonymous"></script>
	<script src="/static/js/loggedIn_scripts.js"></script>
	<title>Mealplan Helper</title>
</head>
<header class="navbar" id="navbar">
	<div class="logo">
		<img src="/static/imgs/BU_Logo.png" alt="Binghamton University Logo">
		<span onclick="changeView('mealplan')">Welcome, {{first_name}}!</span>
	</div>
	<ul class="links" id="links">
		<li class="link {% if view == 'mealplan' %}active{% endif %}" onclick="changeView('mealplan')"><i class="fa-solid fa-calculator"></i><span>Your Mealplan</span></li>
		<li class="link {% if view == 'budget' %}active{% endif %}" onclick="changeView('budget')"><i class="fa-solid fa-sack-dollar"></i><span>Budget</span></li>
    <li class="link {% if view == 'food' %}active{% endif %}" onclick="changeView('food')"><i class="fa-solid fa-utensils"></i><span>Food</span></li>
		<form action="/logout">
			<input class="button is-danger button is-centered" type="submit" value="Logout">
		</form>
		<i class="fas fa-times" onclick="closemenu()"></i>
	</ul>
	<i class="fas fa-bars" onclick="openmenu()"></i>
</header>
<body class="binghamton-green">
	<section class="hero is-fullheight">
		<div class="hero-body container" id="content-container">
			{% if view == 'mealplan' %}
        {% include 'mealplan.html' %}
			{% elif view == 'budget' %}
        {% include 'budget.html' %}
    	{% elif view == 'food' %}
        {% include 'food.html' %}
    	{% endif %}
		</div>
	</section>
</body>
</html>