<!DOCTYPE html>
<html lang="en">
<head>
	<!-- Google tag (gtag.js) -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=G-RJ391QTGHG"></script>
	<script>
		window.dataLayer = window.dataLayer || [];
		function gtag(){dataLayer.push(arguments);}
		gtag('js', new Date());
		gtag('config', 'G-RJ391QTGHG');
	</script>
	<!-- Google tag (gtag.js) -->
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
	<link rel="stylesheet" href="/static/styles/login.css">
	<link rel="shortcut icon" href="{{url_for('static', filename='favicon.ico')}}">
	<script src="https://kit.fontawesome.com/d27b7bf830.js" crossorigin="anonymous"></script>
	<script src="/static/js/login_scripts.js"></script>
	<title>Mealplan Helper</title>
</head>
<body class="has-text-centered">
	<div class="columns is-mobile is-centered" >
		<div class="box is-one-third is-mobile m-6">
			<h2 class="title is-3 m-2 is-dark is-mobile">Binghamton Mealplan Helper</h2>
			<p class="">Created by ACM Projects Division Group</p>
			<img src="https://static.wixstatic.com/media/7383ad_635e426608944acd83c1538cca35af9c~mv2_d_1500_1500_s_2.png/v1/fill/w_1500,h_1500,al_c/Binghamton.png" alt="broke" class="image center">
			<form action="{{url_for('login')}}" method="post">
				<div class="input-field">
					<i class="fa-solid fa-user"></i>
					<input class="input" type="text" placeholder="BUDS Username" id="username" name="username">
				</div>
				<div class="input-field">
					<i class="fa-solid fa-lock"></i>
					<input class="input" type="password" placeholder="BUDS Password" id="password" name="password">
					<i class="fa-solid fa-eye-slash" id="eye-slash" onclick="showPassword()" style="display: block;"></i>
					<i class="fa-solid fa-eye" id="eye" onclick="showPassword()" style="display: none;"></i>
				</div>
				<div class="is-centered">
					{% with messages = get_flashed_messages() %}
						{% if messages %}
						<ul class="flashes">
							{% for message in messages %}
								<li><strong style="color: #f14668!important;">{{message}}</strong></li>
							{% endfor %}
						</ul>
						{% endif %}
					{% endwith %}
				</div>
				<div class="loader" id="loader"  style="display:none;"></div>
				<input class="button is-success m-2"  type="submit" value="Login" onclick="showDiv()">
				<p class="account-note"><strong style="color: #f14668!important;">NOTE:</strong> BUDS Account is seperate from BU Account</p>
				<p class="create-account m-2">Don't have a BUDS Account? Click <a href="https://bing.campuscardcenter.com/ch/register/register_Id.html" target="_blank">Here</a></p>
				<p class="version m-2">Version 1.5</p>
			</form>	
		</div>
	</div>
</body>
</html>