<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/static/styles/mealplan.css">
</head>
<body>
  <div class="columns is-multiline" style="max-width: 980px;">
    <!-- Overview Column -->
    <div class="column is-6-desktop">
      <div class="box">
        <h2 class="binghamton-black">Your Mealplan Overview</h2>
        <p class="has-text-centered">Mealplan Name: <strong>{{ mealplan_name }}</strong> </p>
        <p class="has-text-centered">Mealplan Balance: <strong>${{ mealplan_balance }}</strong> </p>
        <p class="has-text-centered">Days Left in Semester: <strong>{{ days_left_semester }}</strong> </p>
        <p class="has-text-centered">Daily Budget: <strong>${{ daily_budget }}</strong> </p>
        <p class="has-text-centered">Total Funds Added: <strong>${{ funds_added }}</strong> </p>
        <p class="has-text-centered add-funds">Running Low? <strong>Click <a href="https://bing.campuscardcenter.com/ch/add_value.html" target="_blank">Here</a> to Add Funds</strong></p>
      </div>
    </div>
    <!-- Transactions Column -->
    <div class="column is-6-desktop recent-transactions">
      <div class="box">
        <h2 class="binghamton-black">Recent Transactions</h2>
        <table class="transactions-table">
          <thead>
            <tr>
              <th>Date</th>
              <th>Amount</th>
            </tr>
          </thead>
          <tbody>
            {% if transactions %}
            {# The 'transactions' list is not empty #}
            {% for transaction in transactions %}
            <tr>
              <td>{{ transaction.date }}: {{ transaction.location }}</td>
              <td>${{ transaction.price }}</td>
            </tr>
            {% endfor %}
            {% else %}
            {# The 'dates' list is empty #}
            <tr>
              <td colspan="2">No recent transactions</td>
            </tr>
            {% endif %}
          </tbody>
        </table>
      </div>
    </div>
    <!-- Graph Column -->
    <div class="column is-12" id="graphColumn">
      <div class="graph-container box">
        <h2 class="binghamton-black">Daily Spending</h2>
        <div class="switch-container">
          <p>Graph</p>
          <label class="switch" onclick="toggle()">
            <input type="checkbox" id="toggleSwitch">
            <span class="slider round"></span>
          </label>
          <p>Table</p>
        </div>
        <div class="hideable-graph">
          {{ graph|safe }}
        </div>
        <div class="hideable-table">
          <table class="transactions-table">
            <thead>
              <tr>
                <th>Date</th>
                <th>Total Spent</th>
              </tr>
            </thead>
            <tbody>
              {% for date, total in totals_by_date.items() %}
              <tr>
                <td>{{date}}</td>
                <td>${{total}}</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</body>
</html>	