<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
	<title>{{message}} home</title>
</head>
<body>
	<h1 class="title is-2 m-4 has-text-centered">Welcome {{username}}</h1>
	<div class="columns is-centered is-mobile">
		<div class="box column is-half m-3">
			<h3 class="is-3 has-text-weight-bold is-underlined has-text-centered">Here are your meal plan calculations:</h3>
			<p class="has-text-centered">Example Calculation: </p>
			<p class="has-text-centered">Example Calculation: </p>
		</div>	
	</div>
	<div class="columns is-centered is-mobile">
		<form action="/" method="put">
			<input class="button is-danger is-centered has-text-centered" type="submit" value="Logout" >
		</form>
	</div>
</body>
</html>