<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
	<link rel="stylesheet" href="/static/styles/userPage.css">
	<title>{{message}} Home</title>
</head>
<body class="binghamton-green">
	<img src="{{ url_for('static', filename='BU_Logo.png') }}" alt="Binghamton University Logo">
	<section class="hero is-fullheight is-default is-bold">
		<div class="hero-body" style="align-items: start;">
			<div class="container">
				<h1 class="binghamton-white">Welcome, {{first_name}}</h1>
				<div class="columns is-centered is-mobile">
					<div class="box column is-half m-3 p-5">
						<h1 class="binghamton-black">Your Meal Plan Overview</h3>
						<p class="has-text-centered">Meal Plan Balance: <strong>${{mealplan_balance}}</strong> </p>
						<p class="has-text-centered">Days Left in Semester: <strong>{{days_left}}</strong> </p>
						<p class="has-text-centered">Daily Budget: <strong>${{daily_budget}}</strong> </p>
					</div>
				</div>
				<div class="columns is-centered is-mobile">
					<div class = "transactions-container">
						<h1 class="binghamton-white">Recent Transactions</h3>
						<div class="table-container">
							<table>
								<thead>
									<tr>
										<th>Date</th>
										<th>Price</th>
									</tr>
								</thead>
								<tbody>
									{% for i in range(dates|length) %}
										<tr>
											<td>{{ dates[i] }}</td>
											<td>{{ prices[i] }}</td>
										</tr>
									{% endfor %}
								</tbody>
							</table>
						</div>
					</div>
				</div>
				<div class="columns is-centered is-mobile">
					<form action="/" method="put">
						<input class="button is-danger button is-centered" type="submit" value="Logout" >
					</form>
				</div>
			</div>
		</div>
	</section>
</body>
</html>
