body {
    font-family: 'Arial', sans-serif; 
    
    background-image: url('https://www.usatoday.com/gcdn/-mm-/50cf5bbf732a4dc596a6cd2b25c2d55faffc0cbe/c=0-198-3888-2395/local/-/media/2015/10/07/CNYGroup/Binghamton/635798431224650549-BGMBrd-04-28-2015-Daily-1-A003--2015-04-27-IMG-SUNY-Binghamton-034.-1-1-QO84E01A-L602622216-IMG-SUNY-Binghamton-034.-1-1-QO84E01A-1-.jpg?width=3200&height=1809&fit=crop&format=pjpg&auto=webp');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.binghamton-green { 
    background-color: #006747; 
}

.box { 
    border: 1px solid #006747; 
}

img{
    width:400px;
    height:auto;
    display: block;
    margin: 0 auto;
}

.hero-body{
    padding: 1rem 0.5rem;
}

.binghamton-white{
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    color: white;
    margin-bottom: 5px;
}

.binghamton-black{
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    color: black;
}

.add-funds{
    margin-top: 10px;
}
.mealplan-overview{
    margin-bottom: 20px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 15px;
}
.transactions-container h3{
    margin-top: 15px;
}

.transactions-container{
    display: block;    
}

.transactions-container h1{
    margin-top: 10px;
}

.table-container {
    overflow-y: auto; 
    max-height: 200px;
    background-color: white;
    border-radius: 5px;
    padding: 10px 0px;
    padding-left: 25px;
    padding-right: 10px;
}

.table-container table tbody td {
    padding-right: 5px;
    margin-bottom: 5px;
}

.button.is-danger { 
    margin-top: 10px;
    background-color: #006747; border-color: #006747;
}
